@inherits LayoutComponentBase


<main>
    <article class="content px-4">
        <CascadingValue Value="@IsLanguageEnglish">
            <NavMenu/>
            @Body
        </CascadingValue>
        <footer>
            <LanguageSelector @bind-LanguageIsEnglish=IsLanguageEnglish></LanguageSelector>
        </footer>
    </article>
</main>

@code
{
    private bool IsLanguageEnglish = true;

}
