@inherits LayoutComponentBase


<main>
    <article class="content px-4">
        <CascadingValue Value="@IsLanguageEnglish">
            <NavMenu>
                <LanguageSelector @bind-LanguageIsEnglish=IsLanguageEnglish></LanguageSelector>
            </NavMenu>
            @Body
        </CascadingValue>
        <footer>
        </footer>
    </article>
</main>

@code
{
    private bool IsLanguageEnglish = true;

}
