<nav class="navbar text-white m-3 mb-5">
    <div class="navbar-brand">
        <a href="">
            <img src="./pictures/SFlogo.png"/>
        </a>
    </div>

    <button class="navbar-toggler oi oi-menu" @onclick="ToggleNavMenu"></button>

    <div class="navItems @NavMenuCssClass">
        <div class="nav-item px-3">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                <span>@(IsPageEnglish ? "Home" : "Főoldal")</span>
            </NavLink>
        </div>

        @foreach(KeyValuePair<string,string> linkPairs in IsPageEnglish ? navLinks : navLinksHU)
        {
            <div class="nav-item px-3">
                <NavLink href="@linkPairs.Value" class="nav-link">
                    @linkPairs.Key
                </NavLink>
            </div>    
        }

        <div class="d-flex justify-content-center align-items-center">
            @ChildContent
        </div>
    </div>   
</nav>

@code 
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    private bool IsPageEnglish { get; set; }

    private Dictionary<string, string> navLinks = new()
        {
            { "Skills" , "skills" },
            { "Education" , "education" },
            { "Miscellaneous", "misc"}

        };
    private Dictionary<string, string> navLinksHU = new()
        {
            { "Nyelvek és technológiák" , "skills" },
            { "Tanulmányok" , "education" },
            { "Egyebek", "misc"}

        };

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
