button {
    color: #512bd4;
}
img
{
    width:3rem;
}
.navItems {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-weight: bold;
}

.nav-item ::deep a {
    color: #512bd4;
}

.nav-item ::deep a.active {
    color: white!important;
}

.navbar-toggler
{
    display:none;
}

.collapse {
    display: flex;
}

@media(max-width:768px)
{
    .navbar-toggler
    {
        display:block;
    }
    .navItems
    {
        display:block;
        width:100%;
        text-align:center;
    }
    .collapse
    {
        display:none;
    }
}