@page "/education"
<PageTitle>@(IsPageEnglish ? "Education" : "Tanulmányok" )</PageTitle>

<div class="container">
    @if(IsPageEnglish)
    {
        <WideTileComponent Title="Software Developer">
            <p>Introduction to web development, Python, SQL and block coding along with Git version control.</p>

            <p>Actively expanding C#, JavaScript, PHP knowledge. Object-oriented programming, Unit Testing, WPF subsystem.</p>

            <p>Continuously studying MVVM architecture, Blazor(ASP.NET) and trying out several other programming languages.</p>
        </WideTileComponent>


        <WideTileComponent Title="CNC machine operator">
            <p>Gained experience in metalworking, both by hand, and by CNC machines. </p>

            <p>G-code programming basics on 3-axis CNC machines.</p>
        </WideTileComponent>

        <WideTileComponent Title="Secondary School of Economics and Informatics">
            <p>Basic C++ and programming knowledge, fast typing, MS Office.</p>

            <p>GCSE - intermediate level.</p>
        </WideTileComponent>
    }
    else
    {
        <WideTileComponent Title="Szoftverfejlesztő">
            <p>Bevezetés a webfejlesztésbe, Python, SQL és block coding-al való ismerkedés Git verziókezelést használva.</p>

            <p>C#, JavaScript, PHP tudás folyamatos bővítése. Object-oriented programozás, Unit Testing, WPF grafikus rendszer.</p>

            <p>Napi szinten MVVM architektúra, Blazor(ASP.NET) és további rendszerek/nyelvek tanulása.</p>
        </WideTileComponent>


        <WideTileComponent Title="CNC gépkezelő">
            <p>Betekintést nyertem a fémmegmunkálás világába, mind kézzel, mind CNC gépekkel.</p>

            <p>Alapvető G-kódos programozási tudást szereztem.</p>
        </WideTileComponent>

        <WideTileComponent Title="Közgazdasági és Informatikai Szakközépiskola">
            <p>C++-al való ismerkedés, alapvető programozási ismeretek szerzése, gyors írás, MS Office.</p>

            <p>Középfokú érettségi bizonyítvány.</p>
        </WideTileComponent>
    }

</div>

@code {
        [CascadingParameter]
        private bool IsPageEnglish { get; set; }


}
