@page "/"

<PageTitle>Home</PageTitle>

<div class = "container text-white">
    <div class="me">
        <img src="./pictures/me.jpg" class="img-fluid"/>
    </div>
    <div> 
        <h1 class="display-6 fw-bold">@(IsPageEnglish ? "Ferenc Sipos" : "Sipos Ferenc")</h1>
        <h2 class="display-5">@(IsPageEnglish ? "Software Developer" : "Szoftverfejlesztő")</h2>
        <ul class="list-group list-group-horizontal-md m-5">
        @foreach(KeyValuePair<string,string> linkPairs in mediaLinks)
        {
            <li class="list-group-item flex-fill bg-opacity-10 bg-white" onclick="window.open('@linkPairs.Value','_blank')">
                @linkPairs.Key
            </li>
        }
        </ul>
        <h3 class="display-4">Experienced in .NET development</h3>
    </div>
</div>


@code
{
    [CascadingParameter]
    private bool IsPageEnglish { get; set; }

    private Dictionary<string, string> mediaLinks = new()
        {
            { "Facebook", "https://www.facebook.com/rweefdcv/" },
            { "Twitter", "https://twitter.com/dmgerzz" },
            { "CodinGame", "https://www.codingame.com/profile/c82e091ac08290ac2235d97777c2db376079234" },
            { "Email", "mailto:ferenc.m.sipos@gmail.com" },
            { "GitHub", "https://github.com/siposferenc98" },
            { "StackOverflow", "https://stackoverflow.com/users/16061294/dmgerz?tab=profile" }
        };
}
