* {
    
}
.me img
{
    max-width:10rem;
    width:100%;
    border-radius:10px;
    margin-bottom:2rem;
}

.containerDiv {
    display:flex;
}
.innerDiv
{
    flex:1;
}

.container {
    text-align: center;
}
.gradientText {
    color: transparent;
    background: linear-gradient(to right, #7e64de, #0078D7 150%);
    -webkit-background-clip: text;
}


li {
    transition: all 0.3s;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    text-shadow: 1px 1px black;
}
li:hover
{
    background-color:rgba(255,255,255,0.5)!important;
}

.dotnetcolor {
    color:#7e64de;
}
.microsoftcolor {
    color: #0078D7;
    font-weight:400;
}

@media(min-width:2000px)
{
    img {
        max-width: 15rem!important;
    }
}