.me img
{
    max-width:10rem;
    width:100%;
    border-radius:10px;
    margin-bottom:2rem;
}

.container {
    text-align: center;
}
li {
    transition: all 0.3s;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    text-shadow: 1px 1px black;
}
li:hover
{
    background-color:rgba(255,255,255,0.5)!important;
}

@media(min-width:2000px)
{
    img {
        max-width: 15rem!important;
    }
}