@page "/skills"
<PageTitle>@(IsPageEnglish ? "Skills" : "Nyelvek és technológiák" )</PageTitle>

<div class="container">
    @if(IsPageEnglish)
    {
        <h1 class="display-1 text-white">What I do:</h1>
        <h2 class="display-6 text-white">I am a <span class="gradientText">Software Developer</span> and Tester living close to Budapest who mostly creates full-stack appliactions in his free time.</h2>
        <h2 class="display-3 text-white">Best at:</h2>
    }
    else
    {
        <h1 class="display-1 text-white">Pár szó rólam:</h1>
        <h2 class="display-6 text-white">Budapesthez közel lakom, <span class="gradientText">Szoftverfejlesztő</span> és tesztelőként full-stack applikációkat készítek szabadidőmben.</h2>
        <h2 class="display-3 text-white">Haladó ismeretek:</h2>
    }
    <div class="row">
        <Tile BackGroundColor="#512bd4" Text="C#"></Tile>
        <Tile BackGroundColor="#0078D7" Text="WPF"></Tile>
        <Tile BackGroundColor="#512bd4" Text="Blazor"></Tile>
        <Tile BackGroundColor="#0078D7" Text="JS"></Tile>
        <Tile BackGroundColor="#512bd4" Text="PHP"></Tile>
        <Tile BackGroundColor="#0078D7" Text="React"></Tile>
    </div>
    <h3 class="display-6 text-white">@(IsPageEnglish ? "Basic knowledge:" : "Alapismeretek:")</h3>
    <div class="row">
        <Tile BackGroundColor="#512bd4" Text="Laravel"></Tile>
        <Tile BackGroundColor="#0078D7" Text="Unity"></Tile>
        <Tile BackGroundColor="#512bd4" Text="Next.js"></Tile>
        <Tile BackGroundColor="#0078D7" Text="TS"></Tile>
        <Tile BackGroundColor="#512bd4" Text="SQL"></Tile>
        <Tile BackGroundColor="#0078D7" Text="F#"></Tile>
        <Tile BackGroundColor="#512bd4" Text="jQuery"></Tile>
    </div>
</div>

@code {
    [CascadingParameter]
    private bool IsPageEnglish { get; set; }


}
